<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.movie.web.reseat.ReseatDAO">
	<select id="seatnum" resultType="Map">
		SELECT ss_seat , ss_res
		FROM
		screen_seat
		
		WHERE ms_idx=13
		
		ORDER BY
		SUBSTRING(ss_seat, 1, 1),
		CAST(SUBSTRING(ss_seat, 2)
		AS
		SIGNED)
		
	</select>

	<select id="reserve" resultType="Integer">
		SELECT count(*)
		FROM screen_seat
		WHERE ss_seat=#{sval} AND ss_res='N' 
		AND ms_idx=13

	</select>
	<select id="reservetwo" resultType="Integer">
		SELECT count(*)
		FROM
		screen_seat
		WHERE ss_seat=#{svaltwo} AND ss_res='N'
		AND ms_idx=13

	</select>


	<update id="finreservation" parameterType="List">
		UPDATE screen_seat
		SET ss_res = 'N'
		
		WHERE ms_idx=13 
		
		AND ss_seat IN
		<foreach item="item" collection="list" open="(" separator=","
			close=")">
			#{item}
		</foreach>
	</update>

	<select id="movieschedule" resultType="Map">
		SELECT s.ms_stime, s.ms_etime, s.ms_sdate, i.mv_name, i.mv_country, i.mv_grade, i.mv_poster, i.mv_runtime, i.mv_genre, i.mv_gradeimg,t.th_city, t.th_kind
		FROM movie_schedule s
		JOIN movie_info i
		JOIN theater_info t
		
		WHERE s.ms_idx=13 
		
		AND i.mv_idx=s.mv_idx AND t.th_idx=s.th_idx;

	</select>




</mapper>
