<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.movie.web.pay.TicketDAO">

	<select id="ticketInfo" parameterType="Integer" resultType="Map">
	SELECT ms.mv_idx, ms.th_idx, ms.ms_sdate, ms.ms_stime, ms.ms_etime, mi.mv_name, mi.mv_grade, ti.th_city, ti.th_kind
FROM movie_schedule AS ms
INNER JOIN movie_info AS mi ON ms.mv_idx = mi.mv_idx
INNER JOIN theater_info AS ti ON ms.th_idx = ti.th_idx
WHERE ms.ms_idx = "${msNum}"
	</select>
	

</mapper>